.wrapper{
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 25px;
    border-radius: 30px;
    background: #ffffff;
    /*style="color: #eb9316; font-family:Arial*/
    /*style="font-family: Calibri"*/

}
h1{
    font-family: "Franklin Gothic Heavy";

}

a{
    color: #7aa108;
    text-decoration: none;
}
p{
    font-family: "Franklin Gothic Medium";
    font-size: 120%;
}


.box {
   position: relative;
   overflow:hidden;
   width:800px;
   height:300px;
}

.box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 300px;
    object-fit: cover;
}

.comment{
    width: 90%;
    max-width: 500px;
    margin-left: 7%;
    padding: 25px;
    border-radius: 20px;
    background: #fcfcfc;

}