{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block link %}
    <link href="{% static 'css/news.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    {% for news in category_news %}
        <article class="media content-section" >
            <div class="wrapper">
                <div class="article-metadata" style="text-align: left;">
                    <a class="mr-2" href="{% url "profile" news.author.id %}">{{ news.author.first_name }}
                        {{ news.author.last_name }}</a>
                    <small class="text-muted">{{ news.date_publication | naturaltime }}</small>
                </div>
                <h1><a class="article-title" href="{% url "news-detail" news.slug %}">{{ news.title }}</a></h1>
                <p class="article-content">
                    {{ news.text | linebreaks }}
                    {% if news.image != '' %}
                        <div class="box">
                            <img src="{{ news.image.url }}">
                        </div>
                    {% endif %}
                </p>
            </div>
        </article>
        <br>
    {% endfor %}
{% endblock content %}