{% extends "base.html" %}
<h1>{% block title %} Изменение {% endblock %}</h1>
{% block content %}
    <legend class="border-bottom mb-4">Изменение статьи</legend>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        {% if img_obj %}
            <h3>Succesfully uploaded : {{img_obj.title}}</h3>
            <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
        {% endif %}
        <input class="btn btn-primary me-md-2" type="submit" value="Сохранить" >
    </form>
{% endblock content %}