{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block link %}
    <link href="{% static 'css/news.css' %}" rel="stylesheet">
{% endblock %}
{% block title %} Профиль {% endblock %}
{% block content %}
    <div>
    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
    <img src="{{ user.user_picture.url }}" style="max-height:190px">
    </div>
    <hr>
    {% for news in news_user %}
        <article class="blog-post">
{#        <img class="rounded-circle article-img" src="{{ news.source.user_picture.url }}">#}
          <div class="wrapper">
            <div class="article-metadata">
                {% if user.username == request.user.username %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a href="{% url 'edit-news' news.id %}" class="badge text-bg-primary">Изменить</a>
                  </div>
              </td>
              <br>
              <td>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button type="button" class="badge text-bg-danger"
                          data-toggle="modal" data-target="#deleteModal" style="padding: 6px; border: none">
                            Удалить
                      </button>
                  </div>
                  <div class="modal fade" id="deleteModal" tabindex="1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                 <div class="modal-header">
                                     <h5 class="modal-title" id="exampleModalLabel">Внимание!</h5>
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                         <span aria-hidden="true">×</span>
                                     </button>
                                 </div>
                                <div class="modal-body">
                                    Вы уверены, что хотите удалить статью?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                                    <form method="post" action="{% url "delete-news" news.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Удалить</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                  </div>
                  {% endif %}
              <small class="text-muted">{{ news.date_publication | naturaltime }}</small>
            </div>
            <h2><a class="blog-post-title mb-1" href="{% url "news-detail" news.id %}">{{ news.title }}</a></h2>

            <p class="article-content">
                {{ news.text | linebreaks }}
                {% if news.image != '' %}
                    <div class="box">
                    <img src="{{ news.image.url }}" style="max-height:300px">
                    </div>
                {% endif %}
            </p>
          </div>
        </article>
        <br>
    {% endfor %}
{% endblock content %}


